@value athensGray, alto, deepBlush, manatee, snuff from 'styles/variables.css';

.vehicle {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  min-height: 90px;
  min-width: 280px;
  font-size: 12px;
  padding: 20px 5px;
  margin: 5px auto 0 auto;
  border: 1px solid snuff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s linear background-color;
}

.vehicle:hover,
.selectedVehicleContainer > .vehicle {
  background-color: athensGray;
}

.selectedVehicleContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.deselect {
  position: absolute;
  right: 5px;
  top: 5px;
  color: manatee;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.deselect:hover {
  color: deepBlush;
}

.vehicle:last-child {
  margin-bottom: 5px;
}

.vehicle .data {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.vehicle > .data > .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;
}

.vehicle > .data > .row:last-child {
  margin-bottom: 0;
}

.vehicle .bodyType {
  font-weight: 300;
  font-size: 20px;
}

.vehicle .fuelType {
  font-weight: 600;
  font-size: 18px;
}

.vehicle .vehicleIcon {
  font-size: 35px;
  color: manatee;
}
@media only screen and (max-width: 1000px) {

  .vehiclesSection {
    flex: 1;
  }
}